*{
    box-sizing:border-box;
  
  }
  body{
      margin:0;
      background :gray;
      
  
  }
  nav{
      background:#594848;
      width:100%;
      overflow:auto;
  
  }
  ul{
      margin:0;
      padding:0;
      list-style:none;
    
  }
  li{
      float:left;
  }
  nav a {
      width: 120px;
      display: block;
      text-decoration: none;
      text-align: center;
      background: #594848;
      font-size: 17px;
      color: white;
      padding: 20px 10px;
      font-family: Arial;
  }
  nav a:hover{
      background:skyblue;
      color:black;
  
  
  }
  
  
  .title h1 {
      text-align: center;
      font-size: 40px;
  }


    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 0;
        text-align: center;
        font-size: 30px;
    }
  
  .image {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(172, 146, 146, 0.8);
      padding: 20px;
      float: left;
  
  }
  .footer{
      width:100%;
      text-align:center;
      padding:30px 0;
  
  
  
  }
  footer h4{
      margin-bottom:25px;
      margin-top:20px;
      font-weight:600;
  }
  .fa {
      padding: 20px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
  }
  
  
  
  
  
  
  